<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ page.title }} | Karolis Pranciulis
    </title>

    <link
        rel="stylesheet"
        href="/style.css"
    >

</head>


<body>

<header class="navbar">

    <a
        href="{{ '/' | relative_url }}"
        class="home-btn"
    >
        xao3
    </a>


    <nav class="nav-links">

        <a href="{{ '/' | relative_url }}#skills">
            Skills
        </a>

        <a href="{{ '/' | relative_url }}#projects">
            Projects
        </a>

        <a href="{{ '/' | relative_url }}#about">
            About
        </a>

        <a href="{{ '/' | relative_url }}#contact">
            Contact
        </a>

    </nav>

</header>


{{ content }}


</body>
</html>
